body {
  background: radial-gradient(circle, #1db954, #000);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.box {
  background: #000;
  padding: 30px;
  width: 400px;
  border-radius: 15px;
  text-align: center;
  color: white;
  box-shadow: 0 0 25px #1db954;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin: 15px 0;
}

button {
  padding: 12px 25px;
  background: #1db954;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  box-shadow: 0 0 20px #1db954;
  transform: scale(1.05);
}
