* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
  color: white;
  text-align: center;
}

.card h2 {
  margin-bottom: 25px;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  outline: none;
}

.input-box label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #ccc;
  pointer-events: none;
  transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -12px;
  font-size: 12px;
  color: #00f2fe;
}

button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #00f2fe, #4facfe);
  border: none;
  border-radius: 25px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}
